@font-face {
	font-family: 'Libre Franklin';
	font-display: swap;
	font-weight: 100 900;
	src: url('../polices/librefranklingx-romans.woff2') format('woff2'),
		url('../polices/librefranklingx-romans.woff') format('woff');
  }


@font-face {
	font-family: 'Fraunces';
	font-display: swap;
	font-weight: 100 900;
	src: url('../polices/Fraunces--latin_basic.woff2') format('woff2');
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}  

body { background: #669999; color: #fff; font-family: 'Libre Franklin', sans-serif !important; font-weight: 100;}
h1 { margin-bottom: 0.15em; font-family: 'Fraunces', sans-serif !important; font-weight: 900; font-size: 5em; line-height: 0.85em; color: #fff;}
h1 span {font-weight: 300; color: #b2cccc;}
strong {font-weight: 300;}
a {color: #b2cccc; text-decoration: none;}
svg {stroke: #b2cccc; vertical-align: top;
	transition: stroke 0.2s;}
a:hover svg {stroke: #fff; }

.page { margin: 0; width: auto; max-width:none;}
.container { margin: auto; max-width: 650px; }

/* L'entete*/
header.header { margin: 3em 0 2em 1em; font-size: 1.125em; }
h1 a {color: inherit; text-decoration: none;}
.slogan span { display: block; font-size:0.625em; }

/* Le contenu */
main.main { padding-bottom:0; }
.lien_retour a { position: relative; color: #fff;  text-decoration: none;}
.lien_retour a::before {position: absolute; display: block; content: '<'; transform: translateX(-0.75em);
	transition: transform 0.2s;}
.lien_retour a:hover::before {transform: translateX(-1em); }
#radios { margin: 0;}
#radios article {padding: 0;}
#radios h2 {margin: 0; padding-top: 1.5em; padding-bottom:1.5em}
#radios li { margin: 0; }
#radios li h2:not(.deplier-titre) {padding: 0 0 0.5em 0; font-size: 1.875em;}
#radios li:nth-of-type(2) { background: #629393;}
#radios li:nth-of-type(3) { background: #5A8787;}
#radios li:nth-of-type(4) { background: #527A7A;}
#radios li:nth-of-type(5) { background: #496E6E;}
#radios li:nth-of-type(6) { background: #416262;}
#radios li:nth-of-type(7), .content .pagination { background: #395656;}
.total_playlists {margin-bottom: 2em; font-size: 1.125em; font-family: 'Fraunces', sans-serif !important; font-weight: 700;}
a.permalien { display: block; text-align: right;}

/* la pagiantion */
.pagination { margin: 0; padding: 1em 0 2em 0; font-size: 1.125em; text-align: center;}
.pagination .sep {display: none;}
.pagination .disabled { color: transparent; }
.pagination a { margin: 0 0.2em; color:#fff; text-decoration: none; transition: color 0.2s, background-color 0.2s;}
.pagination a, .pagination strong { display: inline-block; padding: 0 0.4em; background-color: transparent; }
.pagination .pages strong.on, .pagination a:hover { background-color: #fff; color: #314949; text-decoration: none;}

/* Footer */
#footer { padding-top: 3em ; padding-bottom: 3em ; text-align: center; background:#314949 ;}
#formulaire_contact { margin-bottom: 3em;}
#footer .liens {font-size: 0.75em;}
#footer .liens a { text-decoration: none;}

/* player oembed */
body .spip_documents .oembed {padding:0;border:0;}
body .oe-play-button button,
body .oe-play-button button::before {margin:0; width:100px; transform:translate(-50%,-50%);border-radius:5%;}
body .oe-play-button button,
body .oembed_audio .oe-play-button button {background:rgba(102, 153, 153, 0.8); transition: background 0.3s}
body .oe-play-button:hover button, body .oe-play-button button:focus {background: #669999;}
body .oembed_rich .oe-play-button button,
body .oembed_audio .oe-play-button button {transform: translate(0,-50%);}
body .oe-play-button button::before {content:none;display:none;}
.oembed figcaption {display:none;}

/* *** modele deplier *** */
.blocdepliable {clear:both;margin-bottom:1.5em;}
.blocdepliable div:not(.deplier-texte) {display:flex;align-items:baseline;}
.deplier-titre {position:relative; margin-bottom:0.5em; padding-left:1.5em; cursor:pointer; line-height:1.2em; color: #b2cccc;;
	transition: color 0.3s;}
.deplier-titre:hover, .deplier-titre.deplie {color:#fff;}
.deplier-titre span { display:inline-block; position:absolute; left:0; top:0; width:0.85em; height:100%;}
.deplier-titre span::before, .deplier-titre span::after {box-sizing:border-box;position:absolute;display:block;
	margin-top:-0.12em; top:50%; left:0; width:100%; content:""; border-top:0.1em solid #b2cccc;
	transition:border-color 0.3s, transform 0.3s;}
.deplier-titre span::after {transform:rotate(-90deg);}
.deplier-titre:hover span::before, .deplier-titre:hover span::after,
.deplier-titre.deplie span::before, .deplier-titre.deplie span::after {border-color:#fff;}
.deplier-titre.deplie span::after {transform:rotate(0);}
.deplier-texte  {overflow:hidden;}
.deplier-texte p:last-child {margin-bottom:0;}

/* Les labels des formulaires funky / animés */
.formulaire_spip input.text, .formulaire_spip textarea { padding:0.25em; width: 100%; background:rgba(255,255,255,0.1);
	border:0; border-bottom:1px solid rgba(255,255,255, 0.5); color: #fff;
	font-family:inherit; font-size:inherit; transition: border-color 0.2s ease-out;}
.formulaire_spip .focused input.text, .formulaire_spip .focused textarea {border-color:#fff;}
.formulaire_spip input.submit {cursor:pointer;height:100%;}
.formulaire_spip:not(.formulaire_login) .editer > label  { display: block; position:relative; opacity:0.55; line-height:1em; text-align: left; color:#fff;
    transform-origin:0 50%; transform:translate(0.5em,150%); 
	transition:transform 0.2s ease,opacity 0.2s ease,color 0.2s ease;}
.formulaire_spip:not(.formulaire_login) .focused label  {transform:translateY(0); opacity:1; transform:scale(0.8); color:inherit; color:#fff;}
.formulaire_spip:not(.formulaire_login) input:not(.checkbox),
.formulaire_spip textarea {position:relative;-webkit-appearance:none;outline:none;}

.formulaire_spip legend {font-size:1.2em;}
.formulaire_spip .editer label em, .formulaire_spip .editer label strong, .formulaire_spip .editer span.obligatoire {font-family:inherit;font-weight:normal;font-style:italic;font-size:0.8em;}
.formulaire_spip input.submit { cursor:pointer; padding:0.5em 1.5em; height:100%; border:0; color:#fff; background:#669999;
	transition: background-color 0.2s, color 0.2s;}
.formulaire_spip input.submit:hover {background:#fff; color: #314949;}

@media (min-width: 1000px) {
	header.header {position: fixed; z-index: 1; }
	main.main {padding-top: 12em;}
	.container { margin-left: 35rem; }

}
@media (max-width: 650px) {
	h1 {font-size: 3em;}
	header.header { margin-left: 0; padding: 0 0.5em ;}
	#radios header, div.descriptif, .formulaire_spip legend, .total_playlists { padding:0 0.5em; }
	.lien_retour {padding-left: 1em;}
	#radios figure { margin: 0;  }
}