<B_radios>
    #ANCRE_PAGINATION
    <div class="container">
    [(#ENV{i}|?{
        <p class="lien_retour"><a href="[(#SELF|parametre_url{i,''})]" class="aj-ax">Toutes les playlists</a></p>
        ,
        <p class="total_playlists">#GRAND_TOTAL playlists</p>
    })]
    </div>
    <ul id="radios">
        <BOUCLE_radios(SITES) {id_syndic?} {!par date} {pagination 7}>
            <li [(#COMPTEUR_BOUCLE|>{1}|oui) class="blocdepliable"]>
                <article class="container">
                    <header>
                        <h2 [(#COMPTEUR_BOUCLE|>{1}|oui) class="deplier-titre"]> <span> </span> #NOM_SITE</h2>
                    </header>
                    <div[(#COMPTEUR_BOUCLE|>{1}|oui) class="deplier-texte"]>
                        <a href="[(#URL_SITE_SPIP|parametre_url{i,#ID_SYNDIC})]" class="permalien">
                            <svg viewBox="0 0 64 64" width="30" height="30">
                                <use xlink:href="#permalien">
                                </use>
                            </svg>                        
                        </a>
                        [<div class="descriptif">(#DESCRIPTIF)</div>]
                        [(#MODELE{oembed,url=#URL_SITE})]
                    </div>
                </article>
            </li>
        </BOUCLE_radios>
    </ul>
    [<p class="pagination">(#PAGINATION{page})</p>]
</B_radios>