[(#HTTP_HEADER{Content-type: text/xml[; charset=(#CHARSET)]})]<?xml 
version="1.0"[ encoding="(#CHARSET)"]?>
<rss version="2.0" [(#REM) rss 2.0.9)]
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
>

<channel[ xml:lang="(#LANG)"]>
	<title>[(#NOM_SITE_SPIP|textebrut|texte_backend)]</title>
	<link>#URL_SITE_SPIP/</link>
	<description>[(#DESCRIPTIF_SITE_SPIP|supprimer_tags|texte_backend)]</description>
	<language>#LANG</language>
	<generator>SPIP - www.spip.net</generator>

[	<image>
		<title>[(#NOM_SITE_SPIP|texte_backend)]</title>
		<url>(#LOGO_SITE_SPIP|image_reduire{144,400}|extraire_attribut{src}|url_absolue|texte_backend)</url>
		<link>#URL_SITE_SPIP/</link>
		[<height>(#LOGO_SITE_SPIP|image_reduire{144,400}|extraire_attribut{height})</height>]
		[<width>(#LOGO_SITE_SPIP|image_reduire{144,400}|extraire_attribut{width})</width>]
	</image>
]

<BOUCLE_rss(SITES)  {!par date} {0,#ENV{nb,999999}}>

	<item[ xml:lang="(#LANG)"]>
		<title>[(#NOM_SITE|supprimer_tags|texte_backend)]</title>
		<link>[(#URL_SITE_SPIP|parametre_url{i,#ID_SYNDIC}|url_absolue)]</link>
		[<guid isPermaLink="true">(#URL_SITE_SPIP|parametre_url{i,#ID_SYNDIC}|url_absolue|texte_backend)</guid>]
		[<dc:date>(#DATE|date_iso)</dc:date>]
		<dc:format>text/html</dc:format>
		[<dc:language>(#LANG)</dc:language>]
		[<dc:creator>(#NOM_SITE_SPIP|supprimer_tags|texte_backend)</dc:creator>]	
		<description>[(#DESCRIPTIF|texte_backend)]</description>	
		<content:encoded>
			[<:voir_en_ligne|html2unicode:> : &lt;a href="(#URL_SITE_SPIP|parametre_url{i,#ID_SYNDIC})" class="spip_out"&gt;[(#NOM_SITE|sinon{[(#URL_SITE|couper{80})]}|texte_backend)]&lt;/a&gt;]
			<p>#URL_SITE</p>
			<p>#radioOupah #musique #playlist</p>
		</content:encoded>
	</item>

</BOUCLE_rss>
</channel>
</rss>